# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/install-sh
/stamp-h?
Makefile
.deps/
.dirstamp
/src/*
!/src/*.h
!/src/*.cc
!/src/Makefile.am
callgrind.out*
*.o
*~
/config/
m4/lt*
m4/libtool.m4
aclocal.m4
ltmain.sh
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
libtool
missing
less
